body{
    background-color: black;
    color: #00FF00;
}
h1{
    font-weight: 700;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: auto;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-align: left;
    padding-top: 0.1px;
    padding-right: 1px;
    text-indent: 1.2%;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1px;
    text-shadow: none;
    text-justify: auto;
    font-weight: 700;
}
h5{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2%;
    font-size: medium;
    padding-top: 1px;
}
h2{
    text-align: center;
    font-size: 14pt;
}
#main{
    margin: 5% 10%;
}
